<!--The content below is only a placeholder and can be replaced.-->
<!-- Input decorator -->
<!-- 
<div style="border:1px solid blue">
  ProductName:{{ProductName}}<br>
  ProductDescription:{{ProductDescription}}<br>
  ProductCost:{{ProductCost}}<br>
<app-review [AllReviews]="ProductReviews"></app-review>
</div> -->

<!-- Output Decorator -->
<div style="border:1px solid red">
  EmployeesInformation
  ,<app-employee (clickemitref)="TotalEmployeesSalary()"></app-employee>
</div>
<router-outlet></router-outlet>
